.weather-card {
    width: 90%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: 10px;
    background-color: #fff;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.weather-card h1 {
    font-size: 2.5rem;
    font-family: Arial;
    color: #333;
    margin: 0;
    padding: 0;
}

.weather-card img {
    width: 40%;
    height: 100%;
    max-height: calc(100% - 40px);
    object-fit: contain;
}

.right-section {
    text-align: right;
}

    .right-section h2 {
        font-size: 22px;
        color: #007BFF;
        margin: 0;
    }

    .right-section p {
        font-size: 16px;
        color: #666;
        margin: 3px 0;
    }


@media (min-width: 768px) {
    .weather-card {
        flex-direction: row; /* Use row layout for larger screens */
        justify-content: space-between;
        align-items: flex-start;
    }
}

.left-section, .right-section {
    width: 100%; /* Full width on smaller screens */
}

@media (min-width: 768px) {
    .left-section, .right-section {
        width: 50%; /* Adjust width on larger screens */
    }
}

.weather-card img {
    width: 100%; /* Full width */
    height: auto; /* Adjust height automatically */
    max-height: 200px; /* Set a max-height */
}

@media (min-width: 768px) {
    .weather-card img {
        width: 40%; /* Width on larger screens */
        max-height: unset; /* Remove max-height restriction */
    }
}
